{% extends 'layout.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="../css/project.css">
{% endblock %}

{% block main %}
<section>
    <h2>Add Project</h2>
    <form action="/project/add" method="POST" onsubmit="return validifyForm()" enctype="multipart/form-data">
        <p>Project Name</p>
        <input type="text" placeholder="name" name="name">
        <p>Description</p>
        <input type="text" placeholder="Description" name="description">
        <p>Github URL</p>
        <input type="url" placeholder="giturl" name="giturl">
        <p>Project Image</p>
        <input id="file" type="file" name="img">
        <button id="addProject" type="submit">Submit</button>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/project/addProject.js"></script>
{% endblock %}