{% extends 'layout.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="../css/project.css">
{% endblock %}

{% block main %}
<section>
{% if projects.length != 0 %}
    <h1>Project</h1>   
    {% for project in projects %}
        <li>{{project.name}}</li>
    {% endfor %}
{% else %}
    <h1>Please add projects</h1>
{% endif %}
<button id="add_project"> Add Project</button>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/project/index.js"></script>
{% endblock %}